*, *::before, *::after {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10rem;
    margin: 0 auto;
    background: url('../images/background-simpsons.webp') no-repeat;
    background-size: cover;
}

button {
    padding: 15px 20px;
    border: 1px solid #000;
    font-size: 1rem;
    border-radius: 999px;
    background-color: #f0ff00;
    cursor: pointer;

    &:hover {
        background-color: #fff900;
    }
}

fieldset{
    min-width: 25dvw;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: #ffffff3f;
}

input{
    width: 40%;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #000;
    outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number]{
    -moz-appearance: textfield;
    appearance: textfield;
}

h1, h2{
    text-align: center;
    margin-block: 20px;
}

.obtaining_quotes{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.quotes_container{
    display: flex;
    flex-direction: column;
    place-items: center;
    min-height: 80dvh;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    
    .quotes{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        align-items: center;
        justify-items: center;
        gap: 20px;
        width: 100%;
        height: 100%;
        padding-inline: 40px;
        
        div{
            border: 1px solid #000;
            border-radius: 10px;
            display: grid;
            grid-template-rows: repeat(auto-fit, minmax(10%, 100%));
            align-items: center;
            justify-items: center;
            gap: 10px;
            height: max-content;
            width: 100%;
            background-color: #ffffff57;
            overflow: hidden;

            img{
                width: 260px;
                margin: 0 auto;
                height: auto;
            }
        
            p{
                text-align: center;
                font-size: 1rem;
                margin-inline: 30px; 
                height: 100%;
                text-wrap: wrap;
            }
        }
    }
}
